:root,
:root.light {
  --bgColor: white;
  --fgColor: #41474E;
  --metaColor: #D26878;
  --headColor: #;
  --linkColor: #5690AF;
  --hovColor: #22453F;
  --bgSelect: #FFFAE1;
  --bgUrl: url(https://i.ibb.co/Qpkrw4V/tile-Light.webp) repeat;
  --red: #D26878;
  --dimRed: #623039;
  --orange: #e08f67;
  --dimOrange: #926048;
  --yellow: #FFFAE1;
  --dimYellow: #D5C5A1;
  --green: #56AFA0;
  --dimGreen: #22453F;
  --blue: #5690AF;
  --dimBlue: #223844;
  --purple: #9271D6;
  --dimPurple: #47356C;
  --grey: #CBCDCD;
  --dimGrey: #646868
}

::-moz-selection {
  color: var(--bgColor);
  background: var(--blue)
}

::selection {
  color: var(--bgColor);
  background: var(--blue)
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  scrollbar-color: var(--metaColor) var(--bgColor);
  scrollbar-width: thin;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

body {
  font-family: monospace;
  line-height: 1.5;
  max-width: 640px;
  margin: auto;
  overflow-wrap: break-word;
  background: var(--bgColor);
  color: var(--fgColor);
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--bgColor);
  background-color: var(--blue);
  text-align: center;
  text-wrap: balance;
}

h1::before {
  color: var(--bgColor);
}

a {
  text-decoration: none;
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--linkColor);
}

a:focus,
a:hover {
  background-color: var(--linkColor);
  color: var(--bgColor)
}

ul {
  padding-inline-start: 20px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

ol {
  padding-inline-start: 25px;
}

li {
  margin-bottom: .5rem;
}

ul li::marker {
  color: var(--metaColor)
}

ul li:hover::marker {
  font-weight: 700;
  color: var(--linkColor)
}

blockquote {
  border-left: .5rem solid var(--metaColor);
  margin: 1rem;
  padding: 0 0 0 1rem
}

textarea {
  border: 2px dotted;
  outline: 0;
  resize: none;
  overflow: auto;
  background-color: var(--bgColor)
}

hr {
  border: 1px dashed
}

img {
  max-width: 90%;
  height: auto;
  margin: .2rem;
  padding: .2rem;
  border: dashed .2rem var(--metaColor);
  border-radius: 15px
}

pre {
  border: 1px solid var(--metaColor);
  padding: 1rem;
  overflow-x: auto;
  font-style: monospace;
  white-space: pre-wrap; 
  word-break: break-word;
}

p code,
li code,
div code {
  padding: 0 .2rem 0 .2rem;
  border-radius: .3rem;
  color: var(--bgColor);
  background-color: var(--grey);
}

pre code {
  padding: 0;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
}

iframe {
  max-width: 90%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  line-height: 1.1
}

thead th:first-child {
  width: 20%
}

th {
  font-weight: 400
}

td,
th {
  padding: .5rem;
  border: dashed .1rem var(--metaColor)
}

footer {
  clear: both;
  color: var(--footColor)
}

footer,
td,
th {
  text-align: left
}

.metadata,
.theme-btn,
hr,
textarea {
  color: var(--metaColor)
}

.wrapper {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.icons {
  width: 2.0rem;
  height: 2.0rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--fgColor);
  fill: var(--fgColor);
  background-color: transparent;
}

.icons__background:hover {
  background-color: transparent;
  color: var(--metaColor);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: .4rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end
}

.theme-btn {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  background-color: transparent
}

.tags-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end
}

.title-list li {
  margin-bottom: .75rem;
}

.footnote-definition {
  margin: 0 0 0 2rem;
}

.footnote-definition-label {
  color: var(--metaColor);
}

.footnote-definition p {
  display: inline;
  padding: 0 0 0 1rem;
}

.foot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

.published-on {
    color: var(--grey)
}

.social-link-btn {
    line-height: 2rem;
    display: inline-block;
}

/* Add Padding */
@media (max-width: 650px) {
  .wrapper {
    margin: 1rem;
  }
}