{% set current_lang = config.default_language %}
{% if page %}
{% set current_lang = page.lang %}
{% elif section %}
{% set current_lang = section.lang %}
{% endif %}
{% if config.extra.header_nav %}
<nav class="navbar">
    {% for nav_item in config.extra.header_nav %}
    <a href="{{ nav_item.url }}" class="{% if nav_item.url == current_url %}active{% endif %}">
        {% set language_key = 'name_' ~ current_lang %}
        {{ nav_item[language_key] }}
    </a>
    {% endfor %}
</nav>
{% endif %}