<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }} | {{ site.name }}</title>

		<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    	<link href="/css/flat-ui.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css"/>
		<link rel="stylesheet" href="/css/syntax.css" media="screen"/>
		<link rel="stylesheet" href="/css/fancybox/jquery.fancybox.css" media="screen"/>
		<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-buttons.css" media="screen" />
		<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-thumbs.css" media="screen" />
		<link rel="shortcut icon" type="image/png" href="/data/gamepad.png">

	</head>
	<body>
		<div class="container page">
			{% include navbar.html %}

			<div class="content">
				{{ content }}
			<div>

			{% include comments.html %}
		</div>

		{% include footer.html %}
	</body>
</html>
