<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }} | {{ site.name }}</title>

    	<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
    	<link href="/css/flat-ui.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css"/>

		<link rel="shortcut icon" type="image/png" href="/images/gamepad.png">
	</head>
	<body>
		<div class="container page">
			{{ content }}
		</div>
	</body>
</html>
